body {
  height: 100vh;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.kebab {
  color: orange;
}

.balti-link {
  text-decoration: none;
  color: inherit;
}

.balti-link:hover {
  text-decoration: underline;
}
